@import "reset.css";

body {
  font-family: "Roboto", sans-serif;
}

.hero {
  background-color: #23424a;
  padding: 5em 0;
}

.container {
  display: flex;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto;
  justify-content: space-between;
}

.hero__text {
  color: white;
  width: 60%;
}

.hero__text h1 {
  margin-bottom: 0.5em;
  font-size: 2.5rem;
  font-weight: 900;
}

p {
  font-size: 1rem;
  line-height: 1.5em;
}

.hero__text p {
  margin-bottom: 3em;
}

.hero__text a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  color: #23424a;
  background-color: #38cfd9;
  border-radius: 2em;
  padding: 1em 2.5em;
  margin-bottom: 0.5em;
  display: inline-block;
}

.row {
  display: flex;
  justify-content: space-between;
  padding: 3em 0;
}

.accent {
  color: #136c72;
}

.col {
  padding: 2.5em;
}

.secondary {
  background-color: #136c72;
  color: white;
}

.row h2 {
  font-weight: 900;
  font-size: 2.25rem;
}

.vertical-text {
  display: flex;
  flex-direction: column;
  gap: 4em;
  text-align: center;
}

.item h2 {
  margin-bottom: 0.5em;
}

.info__text {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
}
